.table-data {
  height: 440px;
  margin-top: 50px;
  padding: 0;
  overflow-y: scroll;
  background-color: rgb(35, 37, 46);
  box-shadow: 0 0 5px black;
}

@media only screen and (min-width: 480px) {
  .table-data {
    height: 500px;
  }
}

.table-data::-webkit-scrollbar {
  width: 10px;
}

.table-data::-webkit-scrollbar-thumb {
  background: #303f9f;
}

.table-data .state-container {
  width: 70%;
  height: 24px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table-data .state-edit button {
  margin-left: 10px;
}

.table-data .state-container button {
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/filter.png") no-repeat;
  background-size: cover;
  border: none;
}

.table-data .new-item {
  background-color: rgb(36, 35, 35);
}

.btn-edit {
  margin-left: 5px;
}

.modal-body .form-group {
  border: none;
}

.modal-body input,
.modal-body select {
  margin: 5px;
  font-weight: 500;
}
