body {
  margin: 0;
  background-color: #314352;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.form-group {
  border-radius: 0 !important;
}

input, select {
  width: 100%;
  height: 35px;
  background-color: inherit;
  color: white;
  border: 1px solid rgb(119, 118, 118);
  padding: 5px;
}

textarea {
  background-color: inherit !important;
  border-radius: 0 !important;
  border: 1px !important;
  color: white !important;
  resize: none;
}

textarea::placeholder,
input::placeholder  {
  color: white !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  color: white;
}

.empty-form {
  border-color: #e57373;
}

.empty-form::placeholder {
  color: #e57373 !important;
}

option {
  color: black;
}

button {
  background-color:#304ffe;
  text-transform: uppercase;
  color: white;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  cursor: pointer;
}

button.btn-secondary {
  background-color: rgb(14, 15, 19);
}

button:focus {
  outline: none !important;
}

button:hover {
  background-color: #303f9f;
}

button.btn-secondary:hover {
  background-color: rgb(9, 10, 12);
}

button.active {
  border: none !important;
}

table {
  background-color: rgb(35, 37, 46) !important;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  color: white;
}

table thead {
  background-color: #303f9f;
}

tr.admin-row,
tr.admin-row:hover {
  background-color: #304ffe !important;
}


th, td {
  width: 120px;
  /* word-wrap: break-word; */
  border: none !important;
  vertical-align: middle !important
}

th {
  text-transform: uppercase;
}

/* Modal styles */
.modal-content {
  background-color: rgb(35, 37, 46);
  color: white;
  border-radius: 0;
}

.modal-content .close {
  background-color: inherit;
  color: white;
}

.nav-link.active,
.nav-link:hover {
  border-radius: 0;
}

.modal-header {
  background-color: #303f9f;
  border-radius: 0;
}

/* ------------- */

/* Nav Tab styles */

ul.nav-tabs {
  border-color: rgba(35, 37, 46, .5);
  text-transform: uppercase;
}

ul.nav-tabs .nav-item > a.active {
  background-color: rgb(35, 37, 46);
  border-color: rgb(35, 37, 46);
  color: white;
}

ul.nav-tabs .nav-item:hover {
  background-color: rgba(35, 37, 46, .5);
}

ul.nav-tabs .nav-link:hover { 
  border-color: rgba(35, 37, 46, .5);
}

/* -------------- */